{% extends 'nav.html' %}
{% block body %}
<!DOCTYPE html>
<html lang="en">

<body id="body">
  {% load static%}
     <section class="Form my-5 mx-5">
        <div class="container" style="margin-left: 120px;">
          <div class="row no-gutters" id="form-row1" style="padding-bottom: 30px;">
            <div class="col-lg-5">
              <img src="{% static 'images/log.jpg'%}" alt="login image">
             
            </div>
            <div class="col-lg-7 px-5 py-5">
              <h1 class="font-weight-bold px-5 py-3" >Change Password</h1>
              <form id="form" method="POST" style="padding-left: 50px;">
                {% csrf_token %} 
                <div class="form-row" >
                  <div class="col-lg-9 my-4 py-2" id="box">
                    <label for="pass"><i class="fa fa-lock"></i></label>&nbsp;&nbsp;
                    <input type="password" name="pass1" id="pass1" placeholder="Enter Password" required/>
                  </div>
                </div>
                
                <div class="form-row" >
                    <div class="col-lg-9 my-4 py-2" id="box">
                        <label for="pass"><i class="fa fa-lock"></i></label>&nbsp;&nbsp;
                        
                        <input type="password" name="pass2" id="pass2"  placeholder="Reconfirm your password" required/>
                    </div>
                  </div>

                <input type="hidden" name="user_id" value="{{user_id}}">

                <div class="form-row">
                        <div class="col-lg-4 my-3 py-2">
                  <div class="form-group form-button" >
                      <input type="submit"  id="signup" class="form-submit"   value="Submit"/>
                  </div>
                        </div>
                      </div> 
              </form>
            </div>
          
          </div>
        </div>
  
      </section>   

    
</body>
</html>
{% endblock body%}